@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


// media breakpoints
$mobile : 576px;
$tablet : 768px;
$desktop : 1200px;
$laptop : 1024px;
$large : 1920px; 

// Light Mode Color Schemes
$primary-bg-color: #ffffff;
$primary-text-color: #000000;
$secondary-color: #555555;
$items-border:   #a3a3a3 0.12rem solid;
$link-hover-color: #808080;
$nav-icon-background-color: #000000;
$nav-icon-background-hover-color: #e9eced;
$icon-background-color: #000000;

// Dark Mode Color Schemes
$dark-primary-bg-color: #23272F;
$dark-primary-text-color: #F6F7F9;
$dark-secondary-color: #abaaa8;
$dark-items-border:#404756  0.1rem solid;
$dark-link-hover-color: #b5b5b5;
$dark-nav-icon-background-color: #abaaa8;
$dark-nav-icon-background-hover-color: #f0f2f313;
$dark-icon-background-color: #abaaa8;


/* Compile SCSS variables into CSS variables */
:root {
    --primary-bg-color: #{$primary-bg-color};
    --primary-text-color: #{$primary-text-color};
    --secondary-color: #{$secondary-color};
    --items-border: #{$items-border};
    --link-hover-color: #{$link-hover-color};
    --nav-icon-background-color: #{$nav-icon-background-color};
    --nav-icon-background-hover-color: #{$nav-icon-background-hover-color};
    --icon-background-color: #{$icon-background-color};
}

.dark-theme {
    --primary-bg-color: #{$dark-primary-bg-color};
    --primary-text-color: #{$dark-primary-text-color};
    --secondary-color: #{$dark-secondary-color};
    --items-border: #{$dark-items-border};
    --link-hover-color: #{$dark-link-hover-color};
    --nav-icon-background-color: #{$dark-nav-icon-background-color};
    --nav-icon-background-hover-color: #{$dark-nav-icon-background-hover-color};
    --icon-background-color: #{$dark-icon-background-color};
}

// font style
$primary-font: 'Poppins';
$fallback-font: 'sans-serif';

/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: $primary-font, $fallback-font;
    background-color: var(--primary-bg-color);
    scroll-behavior: smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s ease;
}

/* Transition */
a, 
.btn{
    transition: all 300ms ease;
}

/* BUTTONS STYLE RULE */
.btn {
    cursor: pointer;
    font-family: $primary-font;
    font-weight: 400;
    transition: all 300ms ease;
    padding: 0.8rem;
    width: 8rem;
    border-radius: 2rem;
    color: var(--primary-text-color);
}

/* Specific styles for btn-color-1 */
.btn.btn-color-1 {
    border: 1px solid var(--primary-text-color);
    background: none;
}

/* Specific styles for btn-color-2 */
.btn.btn-color-2 {
    border: none;
    background: var(--secondary-color);
    color: var(--primary-bg-color);
}


/* HAMBURGER STYLE RULE */
#navbar{
    .hamburger-icon {
        display: none;
        font-size: 2.5rem;
        cursor: pointer;
    
        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.56rem;

            span{
                background-color: var(--primary-text-color);
                height: 2px;
                width: 30px;
            }
        }
    }

    /* Smooth transition to the cross icon */
    .hamburger-icon.open span:first-child{
        transform: rotate(45deg) translate(10px, 5px);
        transition: transform 0.3s ease-in-out, opacity 2s ease-in-out;     
    }
    
    .hamburger-icon.open span:nth-child(2){
        opacity: 0;
    }
    
    .hamburger-icon.open span:last-child{
        transform: rotate(-45deg) translate(10px, -5px);
        transition: transform 0.3s ease-in-out, opacity 2s ease-in-out;     
    }
    
    /* Smooth transition back to the hamburger icon */
    .hamburger-icon:not(.open) span {
        transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    }
} 

/* light-dark mode icon style */
#light-dark-mode{
    // border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    height: 3.5rem;
    right: 1.5rem;
    top: 1.5rem;

    img{
        height: 3.4rem;
        cursor: pointer;
        border-radius: 50%;
        padding: 15px;
    }
}